{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Data Mahasiswa</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Nama </label><input type="text" name="nama" value="{{ .Nama }}"  /><br />
      <label> NIM </label><input type="text" name="nim" value="{{ .Nim }}"  /><br />
      <label> Email </label><input type="text" name="email" value="{{ .Email }}"  /><br />
      <input type="submit" value="Save user" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}