{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Data Baru Mahasiswa</h2>  
    <form method="POST" action="insert">
      <label> Nama </label><input type="text" name="nama" /><br />
      <label> Nim </label><input type="text" name="nim" /><br />
      <label> Email </label><input type="text" name="email" /><br />
      <input type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}